extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "services.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
  .wrapper
    +jumbotronServices()
    +calculator()
    +servicesCatalog()
    .bg-grey
      +reviews()
    .bg-social
      +achievements()
    .btnCalculate.js-opencalculate
      span Калькулятор цены

block modals
