mixin achievements()
  .achievements
    .container
      .row.no-gutters
        .col-12
          h2.text-center Наши достижения:
        .col-12.col-lg-4
          .achievements__box.achievements__box--first
            .achievements__box__pic
              img(src='img/achievements/achievements1.png', alt='')
            .achievements__box__info
              .achievements__box__info__count
                | 1 234 012
              | Довольных студентов
        .col-12.col-lg-4
          .achievements__box.achievements__box--second
            .achievements__box__pic
              img(src='img/achievements/achievements3.png', alt='')
            .achievements__box__info
              .achievements__box__info__count
                | 4,91
              | Средний балл
        .col-12.col-lg-4
          .achievements__box.achievements__box--last
            .achievements__box__pic
              img(src='img/achievements/achievements2.png', alt='')
            .achievements__box__info
              .achievements__box__info__count
                | 2 088 567
              | Консультаций
