mixin jumbotronServices()
  .jumbotron.jumbotron--servicies
    .container
      .row
        .col-12.col-md-6
          .jumbotron__title
            | Услуги и цены
          .jumbotron__desc.jumbotron__desc--full
            .row
              .col-6.col-md-6.jumbotron__desc__statistics
                h4 30+
                .delimtr
                | видов работ
              .col-6.col-md-6.jumbotron__desc__statistics
                h4 6000+
                .delimtr
                | проверенных авторов
              .col-6.col-md-6.jumbotron__desc__statistics
                h4 24/7
                .delimtr
                | сопровождаем до защиты
              .col-6.col-md-6.jumbotron__desc__statistics
                h4 700+
                .delimtr
                | предметов
