mixin jumbotronInside()
  .jumbotron.jumbotron--service
    .container
      .row
        .col-12.col-md-12.col-lg-9
          .jumbotron__innerpage
            .jumbotron__breadcrumbs
              a(href='') Главная
              |
              | ›
              a(href='') Услуги и цены
              |
              | › Презентация к дипломной работе
            .row
              .col-12.col-md-8.col-lg-12
                .jumbotron__suptitle
                  | Выполнение презентации к дипломной работе в Санкт-Петербурге
                .jumbotron__desc.jumbotron__desc--full
                  ul
                    li Цена и срок: от 6000 ₽/ 3-21 день
                    li Оригинальность: 70%
                    li Автор: кандидат наук
                    li Гарантия: бессрочно

