mixin popular()
  section.popular
    .popular__container
      h2.popular__title.title.title_h2.title_center Узнать стоимость работы
      ul.popular__list.d-flex.wrap
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_1.png" alt="")
            .popular__inner
              p.popular__name Дипломная работаем
              p.popular__description от 6000 рублей/ 3-21 дня
          a.popular__button.button.button_color-blue(href="diplomnaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_2.png" alt="")
            .popular__inner
              p.popular__name Курсовая работа
              p.popular__description от 1600 рублей/ 1-7 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_3.png" alt="")
            .popular__inner
              p.popular__name Реферат
              p.popular__description от 600 рублей/ 1-7 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_4.png" alt="")
            .popular__inner
              p.popular__name Контрольная работа
              p.popular__description от 250 рублей/ 1-7 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_5.png" alt="")
            .popular__inner
              p.popular__name Решение задач
              p.popular__description от 250 рублей/ 1-7 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_6.png" alt="")
            .popular__inner
              p.popular__name Бизнес план
              p.popular__description от 2400 руб.
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_7.png" alt="")
            .popular__inner
              p.popular__name Аспирантский реферат
              p.popular__description от 5000 рублей/ 2-10 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
        li.popular__item
          .popular__header.d-flex
            img.popular__image(src="img/popular__icon_8.png" alt="")
            .popular__inner
              p.popular__name Эссе
              p.popular__description от 600 рублей/ 1-7 дней
          a.popular__button.button.button_color-blue(href="kursovaya-rabota/") Узнать стоимость
      a.popular__more.popular__button.show-popup(href="#popup-gift") Заказать другую работу
