mixin reviews()
  .reviews
    .container
      .row
        .col-12.reviews__rating-title-wrapper
          .row.reviews__rating-title-list
            .col-12.col-md-12.col-lg-auto
              h2.reviews__blocktitle отзывы студентов
            .col-12.col-md
              .reviews__rating-title
                .reviews__rating-common
                  .reviews__rating-common-grade-wrap
                    span 4.92
                    span Средний рейтинг
                .reviews__rating-count
                  .reviews__rating-common-cunt-wrap
                    span 18 932
                    span Кол-во отзывов
              //- .reviews__rating-title
              //-   span
              //-     | рейтинг
              //-     img.reviews__rating-title__stars(src='img/reviews/stars.svg', alt='')
              //-   | 4,90 из 5 (18932 голоса)
            .col-12.col-md-auto
              .owl-carousel__navigation
                button.owl-carousel__navigation__prev.js-carousel-prev(type='button')
                button.owl-carousel__navigation__next.js-carousel-next(type='button')
        .col-12
          .jcarousel.owl-carousel.js-carousel
            .reviews__item
              .reviews__item__title
                | 4 года сотрудничества!!!
              .reviews__item__content
                | Спустя почти 4 года учебы хочу оставить свой благодарственный отзыв — спасибо Студсервис за мои хорошие оценки, за ваших талантливых авторов и за терпеливых менеджеров.
              .row.align-items-md-center.justify-content-md-between
                .col-auto
                  .reviews__item__author
                    .reviews__item__author__pic
                      img(src='img/avatar1.png', alt='')
                    .reviews__item__author__name
                      | Седых Анастасия
                      .reviews__item__author__date
                        | 16 марта 2021 в 21:32
                .col-auto
                  .reviews__item__rating
                    span.current
                    span.current
                    span.current
                    span.current
                    span.current

            .reviews__item
              .reviews__item__title
                | Осталась довольна магистерской
              .reviews__item__content
                | Учась в магистратуре не было времени писать магистерскую из-за работы, решила заказать в Студсервисе, так как ранее уже был опыт сотрудничества. Я осталась довольна, если пойду дальше продолжать учебу — еще обращусь, спасибо.
              .row.align-items-md-center.justify-content-md-between
                .col-auto
                  .reviews__item__author
                    .reviews__item__author__pic
                      img(src='img/avatar2.png', alt='')
                    .reviews__item__author__name
                      | Егорова Мария
                      .reviews__item__author__date
                        | 19 марта 2021 в 17:33
                .col-auto
                  .reviews__item__rating
                    span.current
                    span.current
                    span.current
                    span.current
                    span
            .reviews__item
              .reviews__item__title
                | 4 года сотрудничества!!!
              .reviews__item__content
                | Спустя почти 4 года учебы хочу оставить свой благодарственный отзыв — спасибо Студсервис за мои хорошие оценки, за ваших талантливых авторов и за терпеливых менеджеров.
              .row.align-items-md-center.justify-content-md-between
                .col-auto
                  .reviews__item__author
                    .reviews__item__author__pic
                      img(src='img/avatar1.png', alt='')
                    .reviews__item__author__name
                      | Седых Анастасия
                      .reviews__item__author__date
                        | 16 марта 2021 в 21:32
                .col-auto
                  .reviews__item__rating
                    span.current
                    span.current
                    span.current
                    span.current
                    span.current

            .reviews__item
              .reviews__item__title
                | Осталась довольна магистерской
              .reviews__item__content
                | Учась в магистратуре не было времени писать магистерскую из-за работы, решила заказать в Студсервисе, так как ранее уже был опыт сотрудничества. Я осталась довольна, если пойду дальше продолжать учебу — еще обращусь, спасибо.
              .row.align-items-md-center.justify-content-md-between
                .col-auto
                  .reviews__item__author
                    .reviews__item__author__pic
                      img(src='img/avatar2.png', alt='')
                    .reviews__item__author__name
                      | Егорова Мария
                      .reviews__item__author__date
                        | 19 марта 2021 в 17:33
                .col-auto
                  .reviews__item__rating
                    span.current
                    span.current
                    span.current
                    span.current
                    span
