mixin servicesCatalog()
  .servicies__catalog
      .container
        .row
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/1.svg' alt='')
            .servicies__catalog__item__desc
              h4 Дипломная работа
              p от 6000 ₽
              p 3-21 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/2.svg' alt='')
            .servicies__catalog__item__desc
              h4 Курсовая работа
              p от 1600 ₽
              p 1-7 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/3.svg' alt='')
            .servicies__catalog__item__desc
              h4 Реферат
              p от 600 ₽
              p 1-7 дней
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/4.svg' alt='')
            .servicies__catalog__item__desc
              h4 Контрольная работа
              p от 250 ₽
              p 1-7 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/5.svg' alt='')
            .servicies__catalog__item__desc
              h4 Решение задач
              p от 250 ₽
              p 1-7 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/6.svg' alt='')
            .servicies__catalog__item__desc
              h4 Бизнес план
              p от 2400 ₽
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/7.svg' alt='')
            .servicies__catalog__item__desc
              h4 Аспирантский реферат
              p от 5000 ₽
              p 2-10 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/8.svg' alt='')
            .servicies__catalog__item__desc
              h4 Эссе
              p от 600 ₽
              p 1-7 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость

          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/9.svg' alt='')
            .servicies__catalog__item__desc
              h4 Диплом MBA
              p от 15000 ₽
              p 10-21 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/10.svg' alt='')
            .servicies__catalog__item__desc
              h4 Магистерская диссертация
              p от 14000 ₽
              p 3-21 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/11.svg' alt='')
            .servicies__catalog__item__desc
              h4 Монография
              p от 70000 ₽
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/12.svg' alt='')
            .servicies__catalog__item__desc
              h4 Доклад
              p от 600 ₽
              p 1-7 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость

          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/13.svg' alt='')
            .servicies__catalog__item__desc
              h4 Научная статья
              p от 500 ₽/стр
              p 7 дней
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/14.svg' alt='')
            .servicies__catalog__item__desc
              h4 Презентация к дипломной работе
              p от 100 ₽
              p слайд
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/15.svg' alt='')
            .servicies__catalog__item__desc
              h4 Чертежи
              p от 600 ₽
              p 2-10 дней
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/16.svg' alt='')
            .servicies__catalog__item__desc
              h4 ВКР
              p от 6000 ₽
              p 7-21 день
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость

          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/17.svg' alt='')
            .servicies__catalog__item__desc
              h4 Кандидатская диссертация
              p от 90000 ₽
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
          .servicies__catalog__item
            .servicies__catalog__item__pic
              img(src='img/servicies/18.svg' alt='')
            .servicies__catalog__item__desc
              h4 Отчет по практике
              p от 1500 ₽
              p 1-7 дней
            button.btn.btn-lg.btn-success.btn-block Узнать стоимость
