mixin warranty()
  .warranty
    .container
      .row
        .col-12
          h2.warranty__title.text-center какие вы получите гарантии?
        .col-12
          .warranty__desc
            | Студсервис — организация помощи студентам, официально работает с 2004 года. Проверенная временем команда опытных авторов, которая оказывает помощь в учёбе справится с любой, даже самой сложной работой. Качество и пунктуальность — наши основные приоритеты.
      .row
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon1.svg', alt='')
            h3 качество
            | Тройная проверка - гарантия успеха
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon2.svg', alt='')
            h3 надежность
            | Сопровождаем вас до сдачи
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon3.svg', alt='')
            h3 опыт
            | Работаем более 17 лет - с 2004 г.
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon4.svg', alt='')
            h3 пунктуальность
            | Персональный менеджер контролирует соблюдение сроков
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon5.svg', alt='')
            h3 поддержка
            | Круглосуточная служба ответит на любые вопросы
        .col-12.col-sm-6.col-lg-4
          .warranty__item
            img(src='img/warranty/icon6.svg', alt='')
            h3 договор
            | Официальный договор с гарантиями и кассовый чек
