mixin working()
  .working
    .container
      .row
        .col-12
          h2.working__title.text-center Как мы работаем?
      .working__catalog
        .row
          .col-12.col-sm-6.col-lg-3
            .working__item.working__item--first
              .working__item__pic
                img(src='img/working/1.png', alt='')
              .working__item__desc
                | Вы подробно описываете свое задание для наших менеджеров
          .col-12.col-sm-6.col-lg-3
            .working__item.working__item--second
              .working__item__pic
                img(src='img/working/2.png', alt='')
              .working__item__desc
                | Менеджер оценивает работу и подбирает лучшего эксперта для вас
          .col-12.col-sm-6.col-lg-3
            .working__item.working__item--trith
              .working__item__pic
                img(src='img/working/3.png', alt='')
              .working__item__desc
                | После внесения предоплаты от 30% экперт приступает к выполнению
          .col-12.col-sm-6.col-lg-3
            .working__item
              .working__item__pic
                img(src='img/working/4.png', alt='')
              .working__item__desc
                | После 100% оплаты, вы скачиваете полностью готовый файл
      .row
        .col-12
          p Ваш заказ берет под контроль персональный менеджер, общаться с которым удобно в чате личного кабинета клиента. Чат доступен круглосуточно, а все корректировки вплоть до успешной сдачи мы выполним совершенно бесплатно. Все заказы по готовности проходят тщательную многоступенчатую проверку в отделе контроля качества.
